{% extends 'base.html.twig' %}

{% block title %}Hello CompaniesController!{% endblock %}

{% block body %}
<main>
    <table class="table table-hover">
        {% if companies is not empty %}
				{% for companie in companies %}
					<tbody>
                        <td>
                            {{companie.companieNom}}
                        </td>
					</tbody>
				{% endfor %}
			{% else %}
				<p>Aucune companies trouvé.</p>
			{% endif %}
                </table>
</main>
{% endblock %}
