{% extends 'base.html.twig' %}

{% block title %}Hello AvionController!{% endblock %}

{% block body %}
<style>
    
</style>

<div class="container intervention-detail">
    <h1>Détail de l'intervention {{intervention.id}} pour  l'avion {{intervention.interventionAvion.immatriculation}}</h1>

   


</div>
{% endblock %}

