{% extends 'base.html.twig' %}


{% block body %}
<div class="container">

  <h2>Resultat de recherche</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>immatriculation</td>
        <td>Compagnie</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ex: F-DNZF</td>
        <td>ex: airbus</td>
      </tr>
    </tbody>
  </table>

</div>
{% endblock %}