{% extends 'base.html.twig' %}


{% block body %}
<div class="container">

  <h2>Resultat de recherche</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>Immatriculation</td>
        <td>Compagnie</td>
        <td>Status</td>
      </tr>
    </thead>
    <tbody>
      {% if avions is not null %}
          {% for avion in avions %}
            <tr>
              <td> {{ avion.immatriculation }} </td>
              <td> {{ avion.AvionCompanie.CompanieNom }} </td>
              <td> {{ avion.AvionStatue.StatueNom }} </td>
            </tr>
          {% endfor %}
      {% else %}
      {% endif %}
    </tbody>
  </table>

</div>
{% endblock %}